<div mat-dialog-content>
  <app-crear-editar-mecanico [mecanico]="mecanicoCrearEditar" (datosMecanico)="crearEditarMecanico($event)"></app-crear-editar-mecanico>
</div>

<div class="row justify-content-lg-end" mat-dialog-actions>
  <div style="padding-right: 1rem">
    <button class="btn btn-outline-dark" (click)="cancelarModal()"><i class="pi pi-times"></i> CANCELAR</button>
  </div>
  <div>
    <button class="btn btn-success" [disabled]="!mecanicoCrearEditar" (click)="enviarDatosFormulario()"><i class="pi pi-save"></i> ACEPTAR</button>
  </div>
</div>
