<div mat-dialog-content>
  <app-crear-mecanico-por-mecanica
    [mecanicoPorMecanica]="mecanicoPorMecanicaAgregar"
    (datosMecanicoPorMecanica)="agregarMecanicoPorMecanica($event)">
  </app-crear-mecanico-por-mecanica>
</div>

<div class="row justify-content-lg-end contenedorBotones" mat-dialog-actions>
  <div style="padding-right: 1rem">
    <button class="btn btn-outline-dark" (click)="cancelarModal()"><i class="pi pi-times"></i> CANCELAR</button>
  </div>
  <div>
    <button class="btn btn-success" [disabled]="!mecanicoPorMecanicaAgregar" (click)="enviarDatosFormulario()"><i class="pi pi-save"></i>  ACEPTAR</button>
  </div>
</div>
