<div class="container">
  <div class="row justify-content-between">
    <div class="col-sm-4 col-md-4">
      <input type="text" class="form-control" placeholder="Buscar por nombre...."
             name="filtrar-columna" [(ngModel)]="nombreABuscar">
      <button class="btn btn-sm btn-outline-secondary btn-block" (click)="filtrarPorNombre()"><i class="pi pi-search"></i> BUSCAR</button>
    </div>
    <div class="col-sm-4 col-md-5">
      <button class="btn btn-sm btn-outline-info btn-block oton-crear" (click)="abrirModalCrear()"><i
      class="pi pi-user-plus"></i> CREAR</button>
    </div>
  </div>
</div>

<br>

<div class="container">
  <p-table
    [value]="mecanicos"
    [paginator]="true"
    [rows]="5"
    [lazy]="true"
    (onLazyLoad)="cargarMasDatos($event)"
    [totalRecords]="registrosTotales"

  >
    <ng-template pTemplate="header">
      <tr>
        <th *ngFor="let col of columnas" id="cabeceraTabla" [style.width]="col.width">
          {{col.header}}
        </th>
      </tr>
    </ng-template>
    <ng-template pTemplate="body" let-mecanicoRow>
      <tr>
        <td *ngFor="let col of columnas" [style.width]="col.width">
          <div *ngIf="col.field === 'nombreMecanico'">{{mecanicoRow[col.field] | uppercase}}</div>
          <div *ngIf="col.field === 'apellidoMecanico'">{{mecanicoRow[col.field] | uppercase}}</div>
          <div *ngIf="col.field === 'cedulaMecanico'">{{mecanicoRow[col.field] | uppercase}}</div>
          <div *ngIf="col.field === 'telefonoMecanico'">{{mecanicoRow[col.field] | uppercase}}</div>
          <div *ngIf="col.field === 'estadoCivilMecanico'">{{mecanicoRow[col.field] | uppercase}}</div>
          <div *ngIf="col.field === 'estadoMecanico'">
            <div class="container">
              <div class="row justify-content-sm-center">
                <button class="botonEstado btn btn-sm btn-success btn-block"
                        [ngClass]="{'btn-danger': !mecanicoRow.estadoMecanico}"
                        (click)="cambiarEstadoMecanico(mecanicoRow)">
                  {{mecanicoRow.estadoMecanico | estado}}
                </button>
              </div>
            </div>
          </div>
          <div *ngIf="col.field === 'id'">
            <div class="row ">
              <div class="col-md-6 col-sm-12">
                <button (click)="listarActividades(mecanicoRow[col.field])" class="btn btn-sm botonActividad"><i
                  class="pi pi-cog"></i>
                  Actividad
                </button>
              </div>
              <div class="col-md-6 col-sm-12">
                <button class="botonEditar btn btn-sm btn-outline-info btn-block"
                        (click)="abrirModalEditar(mecanicoRow)"><i class="pi pi-pencil"></i>
                  Editar
                </button>
              </div>
            </div>
          </div>
        </td>
      </tr>
    </ng-template>
    <ng-template pTemplate="emptymessage" let-columns>
      <tr>
        <td [attr.colspan]="columnas.length">
          No hay registros
        </td>
      </tr>
    </ng-template>
  </p-table>
</div>
<br>
<div class="container">
  <div class="row">
    <div class="col-md-4"></div>
    <div class="col-md-4 col-sm-12">
      <button  [routerLink]="['/inicio']" class="btn btn-sm btn-outline-secondary btn btn-block"><i class="pi pi-angle-left"></i> VOLVER AL INICIO</button>
    </div>
  </div>
</div>
