<div mat-dialog-content>
  <app-crear-editar-cliente [cliente]="clienteCrearEditar" (datosCliente)="crearEditarCliente($event)"></app-crear-editar-cliente>
</div>

<div class="row justify-content-lg-end" mat-dialog-actions>
  <div style="padding-right: 1rem">
    <button class="btn btn-outline-dark" (click)="cancelarModal()"><i class="pi pi-times"></i>  CANCELAR</button>
  </div>
  <div>
    <button class="btn btn-success" [disabled]="!clienteCrearEditar" (click)="enviarDatosFormulario()"><i class="pi pi-save"></i>  ACEPTAR</button>
  </div>
</div>
