<div class="container">
  <div class="row justify-content-md-center">
    <h2>DATOS DE CLIENTE</h2>
  </div>
</div>
<div class="container">
  <div>
    <form
      [formGroup]="formularioCliente"
      (ngSubmit)="enviarFormularioCliente()"
      novalidate
    >
      <div class="row">
        <div class="form-group col-sm-12 col-md-6">
          <label for="nombreUsuario">Nombre: *</label>
          <input
            [formControlName]="'nombreUsuario'"
            type="text"
            class="form-control"
            id="nombreUsuario"
            aria-describedby="nombreUsuarioHelp"
            placeholder="Ingrese el nombre">
          <small id="nombreUsuarioHelp" class="form-text text-musted">Ingrese el nombre de cliente.</small>
          <div *ngIf="arregloMensajesDeErrorNombre.length>0 && arregloMensajesDeErrorNombre[0]"
               class="alert alert-danger" role="alert">
            <div *ngFor="let mensajeError of arregloMensajesDeErrorNombre">
              <div>{{mensajeError}}</div>
            </div>
          </div>
        </div>
        <div class="form-group col-sm-12 col-md-6">
          <label for="apellidoUsuario">Apellido: *</label>
          <input
            [formControlName]="'apellidoUsuario'"
            type="text"
            class="form-control"
            id="apellidoUsuario"
            aria-describedby="apellidoUsuarioHelp"
            placeholder="Ingrese el apellido">
          <small id="apellidoUsuarioHelp" class="form-text text-musted">Ingrese el apellido de usuario.</small>
          <div *ngIf="arregloMensajesDeErrorApellido.length>0  && arregloMensajesDeErrorApellido[0]"
               class="alert alert-danger" role="alert">
            <div *ngFor="let mensajeError of arregloMensajesDeErrorApellido">
              <div>{{mensajeError}}</div>
            </div>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="form-group col-sm-12 col-md-6">
          <label for="cedulaUsuario">Cedula: *</label>
          <input
            [attr.disabled]="cliente"
            [formControlName]="'cedulaUsuario'"
            [textMask]="mascaraCedulaUsuario"
            type="text"
            class="form-control"
            id="cedulaUsuario"
            aria-describedby="cedulaUsuarioHelp"
            placeholder="Ingrese la cedula">
          <small id="cedulaUsuarioHelp" class="form-text text-musted">Ingrese la cedula de usuario.</small>
          <div *ngIf="arregloMensajesDeErrorCedula.length>0 && arregloMensajesDeErrorCedula[0]"
               class="alert alert-danger" role="alert">
            <div *ngFor="let mensajeError of arregloMensajesDeErrorCedula">
              <div>{{mensajeError}}</div>
            </div>
          </div>
        </div>
        <div class="form-group col-sm-12 col-md-6">
          <label for="telefonoUsuario">Telefono: *</label>
          <input
            [formControlName]="'telefonoUsuario'"
            [textMask]="mascaraTelefonoUsuario"
            type="text"
            class="form-control"
            id="telefonoUsuario"
            aria-describedby="telefonoUsuarioHelp"
            placeholder="Ingrese el telefono">
          <small id="TelefonoMecanicoHelp" class="form-text text-musted">Ingrese el telefono de usuario.</small>
          <div *ngIf="arregloMensajesDeErrorTelefono.length>0 && arregloMensajesDeErrorTelefono[0] "
               class="alert alert-danger" role="alert">
            <div *ngFor="let mensajeError of arregloMensajesDeErrorTelefono">
              <div>{{mensajeError}}</div>
            </div>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="form-group col-sm-12 col-md-12">
          <label for="direccionUsuario">Direccion: *</label>
          <textarea
            [formControlName]="'direccionUsuario'"
            type="text"
            class="form-control"
            id="direccionUsuario"
            aria-describedby="direccionUsuarioHelp"
            placeholder="Ingrese la direccion">
          </textarea>
          <small id="direccionUsuarioHelp" class="form-text text-musted">Ingrese la direccion de usuario.</small>
          <div *ngIf="arregloMensajesDeErrorDireccion.length>0 && arregloMensajesDeErrorDireccion[0] "
               class="alert alert-danger" role="alert">
            <div *ngFor="let mensajeError of arregloMensajesDeErrorDireccion">
              <div>{{mensajeError}}</div>
            </div>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="form-group col-md-6">
          <mat-label>Estado Civil: *</mat-label>
          <mat-select [formControlName]="'estadoCivilUsuario'"
                      id="estadoCivilUsuario"
                      placeholder="estado civil">
            <mat-option *ngFor="let estadoCivil of estadosCiviles" [value]="estadoCivil">
              {{estadoCivil}}
            </mat-option>
          </mat-select>
          <small id="estadoCivilMecanicoHelp" class="form-text text-musted">Seleccione estado civil de usuario.</small>
          <div *ngIf="arregloMensajesDeErrorEstadoCivil.length>0 && arregloMensajesDeErrorEstadoCivil[0] "
               class="alert alert-danger" role="alert">
            <div *ngFor="let mensajeError of arregloMensajesDeErrorEstadoCivil">
              <div>{{mensajeError}}</div>
            </div>
          </div>
        </div>
      </div>
    </form>
  </div>
</div>
