<div class="container-fluid">
  <div class="row">
    <div class="col col-sm-5">
      <i class="pi pi-spin pi-spinner" style="font-size: 3em"></i>
    </div>
  </div>
  <div class="row">
   <div class="col-md-2"></div>
    <div class="col-md-6">
      <img
        src="https://img.pngio.com/hd-classic-car-sports-design-mustang-ford-clipart-classic-car-free-yellow-muscle-car-png-1101_598.png"
        alt="HD Classic Car Sports Design Mustang Ford Clipart - Classic Car ...">
    </div>
  </div>
</div>
<!--<div class="row">-->
<!--  <div class="col"></div>-->
<!--  <div class="col ">-->
<!--    <div class="circula-bienvenida">-->
<!--      <p>BIENVENIDO</p>-->
<!--    </div>-->
<!--  </div>-->
<!--</div>-->
