<div mat-dialog-content>
  <app-crear-credito [credito]="creditoCrear" (datosCredito)="crearCredito($event)"></app-crear-credito>
</div>

<div class="row justify-content-lg-end" mat-dialog-actions>
  <div style="padding-right: 1rem">
    <button class="btn btn-outline-dark" (click)="cancelarModal()"><i class="pi pi-times"></i> CANCELAR</button>
  </div>
  <div>
    <button class="btn btn-success" [disabled]="!creditoCrear" (click)="enviarDatosFormulario()"><i class="pi pi-save"></i> ACEPTAR</button>
  </div>
</div>
