<nav class="navbar navbar-expand-sm navbar-dark" style="color: #F5DD90">
  <ul class="navbar-nav">
    <li class="nav-item active">
      <a class="nav-link" [routerLink]="'/inicio'">INICIO</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" [routerLink]="'/lugar'">LUGAR</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" [routerLink]="'/mecanico'">MECANICO</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" [routerLink]="'/cliente'">CLIENTE</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" [routerLink]="'/mecanica'">MECANICA</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" [routerLink]="'/servicio-cliente'">SERVICIO CLIENTE</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" [routerLink]="'/credito'">CREDITO</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" [routerLink]="'/login'" (click)="salirSistema()">SALIR</a>
    </li>
  </ul>
</nav>
